################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex
/Calculator/bin/Debug
/Calculator/obj/Debug
/Calculator/bin
/Calculator/obj
/Calculator/bin/Debug/net6.0-android
/Calculator/bin/Debug/net6.0-ios
/Calculator/bin/Debug/net6.0-maccatalyst
/Calculator/bin/Debug/net6.0-windows10.0.19041.0
/Calculator/obj/Debug/net6.0-android
/Calculator/obj/Debug/net6.0-ios
/Calculator/obj/Debug/net6.0-maccatalyst
/Calculator/obj/Debug/net6.0-windows10.0.19041.0
/.vs/Calculator/DesignTimeBuild/.dtbcache.v2
/.vs/Calculator/v17/.futdcache.v2
/.vs/Calculator/DesignTimeBuild/.dtbcache.v2
/.vs/Calculator/v17/.futdcache.v2
/.vs/Calculator/v17/.suo
/.vs/ProjectEvaluation/calculator.metadata.v3
/.vs/ProjectEvaluation/calculator.projects.v3
