################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex
/Calculator/bin/Debug
/Calculator/obj/Debug
/Calculator/bin
/Calculator/obj